<footer class="bg-dark pt-5 pb-3">
  <div class="container d-lg-flex justify-content-between">
    <!-- <div class="box"></div> -->
    <img
      src="./assets/icons/acme-logo.svg"
      class="navbar-brand px-5"
      href="#"
    />
    <div>
      <ul class="d-flex list-unstyled">
        <li>
          <a class="nav-link" href="https://twitter.com/">
            <img
              src="../assets/icons/twitter.svg"
              class="navbar-brand foot-icon"
            />
          </a>
        </li>
        <li>
          <a class="nav-link" href="https://www.facebook.com/">
            <img
              src="./assets/icons/facebook.svg"
              class="navbar-brand foot-icon"
            />
          </a>
        </li>
        <li>
          <a
            class="nav-link"
            style="color: #fff"
            href="https://www.instagram.com/"
          >
            <img
              src="./assets/icons/instagram.svg"
              class="navbar-brand foot-icon pe-5"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
